<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form method="post" action={{ link }}>
        {% csrf_token %}
        <div class="mb-3">
            <label for="id" class="form-label">Telegram id</label>
            {{ form.id_ }}
        </div>
        {% if post %}
            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                {{ form.code }}
            </div>
        {% endif %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <div class="form-group g-recaptcha" data-sitekey="6Ldbp5MaAAAAAK2ac0U0jG8QyCpPa9UZ0IAcxVAg"></div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
</title>
</head>
<body>

</body>
</html>